@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 14px;
}

body {
  /* background: #eaeded; */
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  padding-top: 15px;
}

a {
  text-decoration: none;
}

.container-total {
  background: linear-gradient(to right bottom, #ffffff, #cccccc);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
  max-width: 400px;
  border-radius: 1rem;
}

.titulo {
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.principal {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

nav.menu {
  display: flex;
  justify-content: space-between;
}

.copy {
  font-weight: bold;
  text-align: center;
  font-size: 0.6em;
  padding-top: 0.5em;

}

#totales {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  color: #fff;
  padding: .75em;
  margin: .75em 0;
  margin-top: -.75em;
}

.error {
  width: 100%;
  background-color: crimson;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

.hide {
  display: none;
}

.bg-success,
.btn-success {
  background-color: #5a08b8 !important;
  border-color: transparent !important;
  box-shadow: transparent !important;
}

.btn-success:hover,
.btn-success:focus {
  box-shadow: none !important;
  outline: none;
  border-color: transparent !important;
}

.bg-info {
  background-color: #8334df !important;
}

.btn-warning,
.btn-warning:focus,
.btn-warning:hover {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent !important;
  color: #fff;
}

hr {
  margin-top: 1rem;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  height: 2px;
  margin-bottom: 0;
}

.table .thead-dark th {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb) !important;
  border-color: transparent;
}

input[type=number] {
  font-size: 0.85em;
}